{% extends "website/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <section class="container">
            <div class="row border rounded mb-4 mt-2 bg-white" style="background-color: #ffffff; ">
                <div class="col-lg-4 col-6  mb-2 mt-2">
                    <p  class="fw-bold fs-6">Delivery Information</p>
                </div>
                <div class="col-lg-6 d-none d-md-block "></div>
                <div class="col-6 d-md-none d-block mt-2 text-end">
                    <a class="fs-6 fw-bold" href="#" >Edit</a>
                </div>
                <div class="col-md-2 col-2 mt-2 d-none d-md-block">
                    <a href="{% url 'address' %}" class="btn btn-outline-danger  w-100 fw-md-bold">Edit</a>
                </div>
    
                <div class="row">
                    <div class="col-1 d-none d-md-block"></div>
                    <div class="col-md-11 col-12">
                        <div class="row">
                            <p class="col-6 fs-6">{{ user.first_name }} {{ user.last_name }}</p>
                            <p class="col-6 fs-6 ">{{ user.profile.phone_number }}</p>
                        </div>
                        
                    </div>
                </div>
    
                <div class="row mb-2">
                    <div class="col-lg-1 col-1 d-flex flex-column justify-content-center p-2">
                        <i class="fa-solid fa-map-pin text-danger fs-4 ms-md-4"></i>
                    </div>
                    <div class="col-lg-11 col-11 d-flex flex-column justify-content-end border">
                        <span class="fs-6 fs-md-5 fw-light">{{ user.profile.address }}</span>
                    </div>
                </div>
                
            </div>
    
    
            <div class="row border rounded">
                <div class="row ">
                    <div class="col-md-4 col-5 mb-2 mt-2">
                        <p  class="fw-bold fs-6">Payment method</p>
                    </div>
                    <div class="col-md-6 col-7 ms-0 mb-2 mt-2">
                        <p class="w-100 fw-lighter">(Trusted payment method)</p>
                    </div>
                </div>
                <div class="container">
                    <div class="row border-danger border mb-2 m-2">
                        <div class="col-2 col-md-1 mb-2">
                            <img src="/static/images/mpesa.svg" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7 col-10 ">
                            Cards, Mpesa, Bank Transfer, Mobile money
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mt-2 border rounded mb-2">
                <div class="col-7 d-flex flex-column justify-content-center">
                    <h5>Product details</h5>
                </div>
                <div class="col-5 d-flex flex-column justify-content-end">
                    <p>Summary({{ count }} items)</p>
                </div>
            </div>

            
            {% for cart in carts %}
            <div class="row mt-2 border rounded mb-2">
                <div class="col-12 d-flex flex-column justify-content-center">
                    <h6 class="mt-1 mb-0">{{ cart.product.shop }}</h6>
                    <hr class="mt-1">
                </div>
                <div class="row">
                    <div class="col-md-2 mb-2 d-flex flex-column justify-content-center">
                        <div class="card rounded">
                            <img src="{{ cart.product.image.url }}" class="card-img-top rounded" alt="..." style="width: 100%; max-height: 20vh; object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-start">
                        <h6>{{ cart.product.name }}</h6>
                    </div>
                    <div class="col-md-2 d-flex flex-row justify-content-md-end align-items-start">
                        <p class="text-danger lead fw-bold">Ksh {{ cart.get_total_price }}</product></p>
                    </div>
                    <div>
                        <div class="col-12 d-flex flex-row justify-content-start bg-dark rounded mb-1">
                            <div class="col-6 d-flex flex-column justify-content-center">
                                <p class="text-white d-flex flex-column justify-content-center">{{ cart.quantity }} Items</p>
                            </div>
                            <a href="{% url 'cart' %}" class="text-danger d-flex flex-row justify-content-center"><div class="col-6">Edit</div></a>
                        </div>
                    </div>
                </div>
                
            </div>

            {% endfor %}
            

            
    
            <div class="row border rounded " style="background-color: #ecf87f;" >
                <div class="col-12 d-block d-md-none">
                    <div class="">
                        <p class="fw-bold">{{ total }}</p>
                    </div>
                </div>
                <div class="col-md-8">
    
                </div>

                <div class="col-md-4 mt-md-2 ">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 ">
                                    <p>Product Amount:</p>
                                </div>
                                <div class="col-6 d-flex flex-row justify-content-end">
                                    {{ total }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <p>Delivery Fee:</p>
                                </div>
                                <div class="col-6 d-flex flex-row justify-content-end">
                                    Ksh 200
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <p>Payment Amount:</p>
                                </div>
                                <div class="col-6 d-flex flex-row justify-content-end">
                                    <p class="fw-bold text-danger">{{ total }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
    
                <div class="row mb-2 mt-2 d-none d-md-flex">
                    <div class="col-md-8 col-6">
    
                    </div>
                    <div class="col-6 col-md-4 d-flex flex-row justify-content-end me-0">
                        <a href="{% url 'add_order' %} "><button class=" btn btn-danger btn-md w-100 fw-bold">Place Order</button></a>
                    </div>
                </div>
    
    
            </div>
            <div style="height: 60px;"></div>
    
            <div class="row d-md-none d-flex flex-row mt-2 fixed-bottom justify-content-center" style="background-color: #F9E79F;">
                <div class="col-6 mt-2">
                    <h4 class="ms-1 fw-bold text-danger">Ksh 2200</h4>
                </div>
                <div class="col-5 me-1 mb-2 mt-2">
                    <a href="{% url 'add_order' %} "><button class=" btn btn-danger btn-md w-100 fw-bold">Place Order</button></a>
                </div>
            </div>
    
    
        </section>
    </div>
{% endblock %}